    <div class="header">
        <div class="sidenav">
            <a href="/dashboard" class="logo">
                <img src="../../../assets/images/logo.png" class="logo-img">
                <img src="../../../assets/images/logo.png" class="logo-icon">
            </a>
            <ul class="nav-links">
                <li><a href="#"><fa-icon [icon]="faHomeUser"></fa-icon><p>Dashboard</p></a></li>
                <li><a href="#"><fa-icon [icon]="faUsers"></fa-icon><p>Staff</p></a></li>
                <li><a href="#"><fa-icon [icon]="faUserCheck"></fa-icon><p>Guests</p></a></li>
                <li><a href="#"><fa-icon [icon]="faDoorClosed"></fa-icon><p>Rooms</p></a></li>
                <li><a href="#"><fa-icon [icon]="faBed"></fa-icon><p>Reservations</p></a></li>
                <li><a href="#"><fa-icon [icon]="faDollarSign"></fa-icon><p>Billing</p></a></li>
                <div class="active"></div>
            </ul>
        </div>
    </div>